<%= render 'pages/home' %>

<div class="transitions-enabled">
  <% @brands.each do |brand| %>
  <div class="col-sm-8 col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag(brand.logo.url(:medium)),brand_path(brand.name) %>
      <div class="caption">
        <strong><%= brand.name %></strong>
        <p><%= truncate(brand.brand_description, :length => 50) %></p>
        </div>
    </div>
  </div>
  <% end %>
</div>



