  <% @brand.designers.each do |designer| %>
     <p>
      <div class="designer_profile">
        <% if designer.avatar? %>
        <div class="designer_profile_pic">
        <%= image_tag designer.avatar.url(:medium) %>
        </div>
    <% end  %>

        <div class="designer_profile_name">
        <h3><%= designer.name %></h3>
        </div>

         <div class="designer_profile_bio">
          <%= simple_format(designer.bio) %>
          </div>
      <% end %>
    </div>
    </p>



